#wrapper {
    margin: 0 2% 0 2%;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}

#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    border-bottom: 1px solid #f3f4f6;
}

#header_left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 50%;
}

#menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-left: 5%;
    width: 65%;
    color: grey;
}

#tools {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 30%;
}

#search-bar input {
    border: none;
    border-radius: 5px;
    width: 300px;
    background-color: #f3f4f6;
    height: 30px;
    padding-left: 10px;
}

#content {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.content_title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.rating {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
}

.rating_left {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 17%;
}

.rating_right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 20%;
    height: 20%;
}

.rating_right_word {
    padding-right: 30px;
}

.rating_right_icon {
    padding-right: 5px;
}

.content_img {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.content_img_small1 {
    display: flex;
    flex-direction: column;
}

.content_img_small2 {
    display: flex;
    flex-direction: column;
}

.edit_img {
    padding: 8px;
}

#description_details {
    display: flex;
    flex-direction: row;
    padding-top: 40px;
}

.description_line {
    display: flex;
    flex-direction: row;
}

.column2 {
    padding-left: 50px;
}